@charset "UTF-8";
* {
  margin:0;
  padding:0;
}
body {
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
}
b{
  font-size: 2rem;
}

/*헤더*/
.header_box{
  height: 40vh;
  margin-bottom: 10vh;
  border-radius: 0 0 10% 0 / 0 0 30% 0;
  background-color: #00A3FF;
}
.header{
  display: flex;
  justify-content: center;
  position:relative;
}
.header_title{
  position: relative;
  top:15vh;
  height:150px;
  font-size: 1.5rem;
  animation: fadeInDown; 
  animation-fill-mode: both;
  animation-delay: 0.5s;
  animation-duration: 1s; 
}
.header img{
  position:relative;
  top:5vh;
  right:3vw;
  height:30vh;
}
.header_arrow{
  display: flex;
  justify-content: center;
  position:relative;
  top: 4vh;
  width:70px;
  height: 70px;
  margin: auto;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px gray;
  animation: fadeInDown; 
  animation-fill-mode: both;
  animation-delay: 1.5s;
}
.header_arrow::before{
  display: block;
  position: relative;
  top:20px;
  right:6px;
  width: 6px;
  height: 35px;
  transform: rotate(-40deg);
  background-color: black;
  content: "";
  animation: flash; 
  animation-fill-mode: both;
  animation-delay: 1.5s;
  
}
.header_arrow::after{
  display: block;
  position: relative;
  top:20px;
  left:7px;
  width: 6px;
  height: 35px;
  transform: rotate(40deg);
  background-color: black;
  content: "";
}
.header mark{
  padding: 0 10px 4px 10px;
  background-color: white;
  font-weight: bold;
}

/* 본문 */
.container{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}
.container_title{
  position: relative;
  margin:auto;
  font-size: 1rem;
  text-align:center;
}
/* 프로필 */
.profile{
  display: flex;
  justify-content: center;
  position: relative;
}
.profile img{
  position:relative;
  right:3vw;
  height:25vh;
}
.profile_text{
  position: relative;
  top:4vh;
  height:100px;
}
/* 특징 */
.card{
  display: block;
  position: relative; top: 60px;
  width: 310px; height: 100px;
  margin: 50px;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 25px;
  box-shadow: 1px 1px 3px;
  text-align: center;
}
.card1{
  display: block;
  position: relative; top: 90px;
  width: 310px; height: 100px;
  margin: auto;
  border: 1px solid rgb(126, 126, 126); 
  border-radius: 25px;
  box-shadow: 1px 1px 3px;
  text-align: center;
}
.card_img{
  position:relative; bottom:7vh;
}
.card_text{
  position:relative; bottom:6vh;
  font-size: 1rem;
}
/* 경험 */
.work_text{
  margin: 5vh;
  font-size: 1.2rem;
  text-align: center;
}
/* 스킬 */
.techstack{
  display: flex;
  flex-direction: column;
  margin:10px 60px;
  text-align: center;
}
.skills strong{
  display: block;
  margin-bottom: 50px;
}
/* 목표 */
.goal{
  margin: 5vh;
  font-size: 1.3rem;
  text-align: center;
}
/* 가로 선 */
.horizontal_line{
  position: relative;
  width: 350px;
  height: 1px;
  margin: auto;
  background-color: black;
}